.cabecalho {
   
    width: auto;
    display: flex;
    flex-direction: ;

}




.chocolate.png{
    width:30%;



}


.chocolate.png {


    width:25%;

}

.conteudo{ 
    
    

    font-size: medium;
    
    
    
    
    
    
    display: flex;
    flex-direction: row;
}


.cabecalho{

   font-size: larger;
   font-style: inherit;
    display: flex;
    flex-direction: row;


}



